*,
*:after,
*::before {
  box-sizing: border-box;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 5px 5px black;
  font-family: "Cinzel", serif;
}

body {
  font-family: "Cinzel", serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666;
  padding: 30px;

  font-size: 35px;
  color: gray;
  /*background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(32, 121, 50, 1) 47%,
    rgba(0, 212, 255, 1) 100%
  );*/
  background-image: url(https://images.all-free-download.com/images/graphiclarge/concept_geometric_shapes_background_vector_536424.jpg);
}

nav {
  display: flex;
  width: 50%;
  height: 450px;

  background: #002f42;
  background: linear-gradient(-90deg, #121419, #002f42, #6f7697);
  height: 450px;
  padding: 20px;
}

nav ul {
  /* Punkte werden bei Auflistung nicht angegeben*/
  list-style-type: none;
  padding: 0;
}
nav li {
  margin: 10px;
}

.article-image-creator {
  padding: 20px;
  width: 100%;

  background: #002f42;
  background: linear-gradient(90deg, #121419, #002f42, #6f7697);
  height: 450px;
}

.footer-design {
  padding: 10px;
  text-align: center;
  color: white;
  background-image: url(https://images.all-free-download.com/images/graphiclarge/concept_geometric_shapes_background_vector_536424.jpg);
}

.image-playstation {
  height: 15px;
}
.image-steam {
  height: 15px;
}

.image-xbox {
  height: 15px;
}
/* Responsive Layout Beggining

@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
Responsive Layout Ending */
li {
  text-transform: uppercase;
  font-weight: bold;
}

/* classes für java?
.li-playstation {
}

.li-xbox {
}

.li-steam {
}
*/

#canvas {
  border: solid 1px black;
}
.section-main {
  display: Flex;
  flex-direction: row;
}

/* Background Color in Type field only for orientation :D */

#playstation-input {
  background-color: lightblue;
  border-radius: 15px;
}
#playstation-write {
  background-color: lightblue;
  border-radius: 15px;
}

#xbox-input {
  background-color: lightgreen;
  border-radius: 15px;
}
#xbox-write {
  background-color: lightgreen;
  border-radius: 15px;
}
#steam-input {
  background-color: #666;
  border-radius: 15px;
}
#steam-write {
  background-color: #666;
  border-radius: 15px;
}
.generator {
  height: 29px;
  display: flex;
}
.source {
  width: 270px;
  height: 295px;
}

/* details object*/
.summary-arrow {
  font-size: 20px;
  text-shadow: 5px 5px black;
}
.summary-image {
  height: 200px;
}
